[TSV]
tsv_path = None
tsv_shape = 

[Solver]
number_of_core = 1
processes = 1
iter_num = 1

[Grid]
granularity = 1
rows = 64
cols = 64
depth = 1
grid_mode = max

[NoPackage]
library_name = NoPackage_sec
library = Solid.py

[NoPackage_sec]
properties = htc, thickness (m), conductivity (w/(m-k))

[Si]
library_name = Solid
library = Solid.py

[Solid]
properties = conductivity (w/(m-k)), non_linear
