[Si]
non_linear = False
conductivity (w/(m-k)) = 129.87012987013
t_0 = 300 K
alpha = 1.5

[Temperature]
ambient = 318.15 K
init = 318.15 K

[NoPackage]
htc = 10000
thickness (m) = 1e-05
conductivity (w/(m-k)) = 400
clip_num_x = 4
clip_num_y = 4
clip_num_z = 1

[Leakage]
t_base = 358.15 K
beta = 0.0 1/K